.simulator {
    width: 325px;
    margin: 20px auto;
    padding: 20px 0;
}
form {
    padding: 10px 10px;
}
.input {
    width: 100%;
    font-size: 30px;
    padding: 20px 0;
    text-align: center;
}
.div-number {
    background: #928E8B;
    padding-bottom: 10px;
    text-align: center;
}
.access {
    background: #0CCC09;
    border: 1px solid #0CCC09;
}
.error {
    background: red;
    border: 1px solid red;
}
.white {
    border: 2px solid #fff;
}
.Access {
    color: #0CCC09;
}
.Wrong {
    color: red;
}
span {
    display: inline-block;
    margin: 10px 2px 0 2px;
}

button {
    width: 100px;
    font-size: 25px;
    height: 60px;
    background: #F18E2C;
    border: 1px solid #F18E2C;
    color: #fff;
}